.projectCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 6rem;
}

.projectTitle {
    font-weight: 300;
    margin-top: 0;
}

.projectImg {
    width: 650px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 1rem;
}

.ant-image-mask {
    border-radius: 20px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: var(--color-lightgray);
    font-size: 20px;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: var(--color-dark);
    transition: 0.3s;
}
