.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    min-height: calc(100vh - 100px);
    scroll-snap-align: start;
    padding: 0 5%;
    background: var(--color-white);
    border-radius: 0 0 40px 40px;
}

.content-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75vw;
    scroll-snap-align: start;
    padding: 5%
}

.content-body{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 10%;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    scroll-snap-align: start;
}

.text-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}